/* Global */
@import 'global/reset';
@import 'global/fonts';
@import 'global/todo';

/* Content */
@import 'custom_elements/scrollbar';
@import 'custom_elements/header';
@import 'templates/bodySnow';
@import 'custom_elements/button_top';
@import 'custom_elements/footer';

.main_404{
    background-image: url(/assets/image/background/sunglass.webp);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 600px;
}
.main_404_section{
    padding: 330px 103px;
    width: 60%;
}
.main_404_section div p{
    margin-top: 50px;
}
footer{
    background-image: url(/assets/image/background/anime.webp);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 520px;
    height: 100%;
}
@media (max-width: 680px){
    body{
        max-width: 680px;
    }
    .main_404{
        background-image: none;
    }
    .main_404_section{
        width: auto;
        padding: 100px;
    }
    footer{
        background-size: 200px;
    }
}
