/* Global */
@import 'global/reset';
@import 'global/fonts';
@import 'global/todo';

/* Content */
@import 'custom_elements/scrollbar';
@import 'custom_elements/header';
@import 'templates/bodySnow';
@import 'custom_elements/button_top';
@import 'custom_elements/button_social';
@import 'custom_elements/footer';

ul{
    list-style: none;
}

ul li{
    font-family: "Space Grotesk", sans-serif;
}

.main_contact{
    background-image: url(/assets/files/bkg--lol.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 600px;
}
.main_contact_section{
    padding: 330px 103px;
    width: 60%;
}
.main_contact_section div p{
    margin-top: 50px;
}
footer{
    background-image: url(/assets/files/bkg--box.webp);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 420px;
    // height: 100%;
}
@media (max-width: 680px){
    body{
        max-width: 680px;
    }
    .main_contact{
        background-image: none;
    }
    .main_contact_section{
        width: auto;
        padding: 70px;
    }
    footer{
        background-size: 135px;
    }
}
