/* Global */
@import 'global/reset';
@import 'global/fonts';
@import 'global/todo';

/* Content */
@import 'custom_elements/scrollbar';
@import 'custom_elements/header';
@import 'templates/bodyDark';
@import 'custom_elements/button_top';
@import 'custom_elements/button_social';
@import 'custom_elements/footer';  

.main_section{
    padding: 80px;
    margin: auto 60px;
    text-align: center;
}
.main_section article{
    display: flex;
    text-align: center;
    align-items: center;
    margin: 30px auto;
}
.main_section article div{
    padding: 15px 50px;
}
.main_section article div img{
    width: 280px;
}
footer{
    background-image: url(/assets/files/bkg--heart_bit.webp);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 400px;
    height: 100%;
}
@media (max-width: 680px) {
    body{
        max-width: 680px;
    }
    img{
        display: none;
    }
    h2{
        font-size: 40px;
    }
    h3{
        font-size: 20px;
    }
    .main_section{
        background-color: white;
        color: black;
        padding: 20px 0;
        margin: 50px 9px;
        border-radius: 5px;
    }
    .main_section article{
        display: block;
    }
    .main_section article div{
        padding: 15px 10px;
        text-align: left;
    }
    footer{
        background-size: 150px;
    }
}