/* Global */
@import 'global/reset';
@import 'global/fonts';
@import 'global/todo';

/* Content */
@import 'custom_elements/scrollbar';
@import 'custom_elements/header';
@import 'templates/bodyCiano';
@import 'custom_elements/button_top';
@import 'custom_elements/button_social';
@import 'custom_elements/footer';

main{
    background-image: url(/assets/files/bkg--astro.webp);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 600px;
    background-attachment: fixed;
}
.main_section__principal div {
    display: flex;
    flex-direction: column;
    width: 30%;
}
.main_section__principal picture img {
    border-radius: 999rem;
}
footer{
    background-image: url(/assets/files/bkg--play_bottom.webp);
    background-size: 600px;
}
.footer_copyright div span i a{
    text-decoration: none;
}

@media (min-width: 1380px) {
    main{
        background-position: 1000px;
    }
}

@media (max-width: 680px) {
    main{
        background-image: url(/assets/files/bkg--astro.webp);
        background-size: 280px;
        background-attachment: scroll;
    }
    .main_section__principal{
        padding: 300px 50px;
        display: block;
        text-align: center;
    }

    .main_section__principal picture img{
        width: 240px;
    }
    .main_section__principal div{
        width: auto;
        margin-bottom: 20px;
    }

    footer{
        background-size: 200px;
    }
}