@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 40px;
}

h2 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 70px;
}

h3 {
    font-size: 30px;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 30px;
}

h4 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 30px;
}

cite, span {
    font-family: 'Space Grotesk', sans-serif;
}

nav li {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 20px;
    list-style: none;
}

nav li a{
    text-decoration: none;
}

p {
    font-family: 'Space Grotesk', sans-serif;
    margin-bottom: 15px;
}

i{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 12px
}

button{
    font-family: "Chakra Petch", sans-serif;
    font-size: 20px;
    border: none;
    padding: 10px;
}