@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 40px;
}

h1:hover{
    color: #FFE000;
}

h2 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 70px;
}

h2:hover {
    color: rgb(253, 135, 0);
}

h3 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 50px;
}

h3:hover {
    color: aqua;
}

h4 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 30px;
}

cite, span {
    font-family: 'Space Grotesk', sans-serif;
}

nav li {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 20px;
    list-style: none;
}

nav li a:hover {
    color: #E31C57;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-family: 'Space Grotesk', sans-serif;
    margin-bottom: 15px;
}

i{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 12px
}