/* Global */
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
h1 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 40px;
}

h1:hover {
  color: #FFE000;
}

h2 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 70px;
}

h2:hover {
  color: rgb(253, 135, 0);
}

h3 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 50px;
}

h3:hover {
  color: aqua;
}

h4 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 30px;
}

cite, span {
  font-family: "Space Grotesk", sans-serif;
}

nav li {
  font-family: "Chakra Petch", sans-serif;
  font-size: 20px;
  list-style: none;
}

nav li a:hover {
  color: #E31C57;
}

a {
  text-decoration: none;
  color: black;
}

p {
  font-family: "Space Grotesk", sans-serif;
  margin-bottom: 15px;
}

i {
  font-family: "Space Grotesk", sans-serif;
  font-size: 12px;
}

/* Content */
body {
  max-width: 1366px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  background-color: #ecf5ff;
}

/* MOBILE 680px */
@media (max-width: 680px) {
  body {
    max-width: 680px;
  }
}
/* DESK 1366px */
header {
  position: absolute;
  width: 100%;
  z-index: 999;
}

.header_menu {
  padding: 10px 40px;
  background-color: rgba(255, 255, 255, 0.9);
  display: block;
}

.header_menu__list {
  align-items: center;
  display: flex;
  justify-content: right;
  flex-wrap: nowrap;
}

.header_menu__list li {
  margin-left: 20px;
}

.header_menu__list li:first-child {
  margin-right: auto;
  color: black;
}

/* MOBILE 680px */
@media (max-width: 680px) {
  .header_menu {
    display: none;
  }
}
/* DESK 1366px */
.main_404 {
  background-image: url(/assets/image/blue-stroke_background.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 600px;
}

.main_404_section {
  padding: 330px 103px;
  width: 60%;
}

.main_404_section div p {
  margin-top: 50px;
}

/* MOBILE 680px */
@media (max-width: 680px) {
  .main_404 {
    background-image: none;
  }
  .main_404_section {
    width: auto;
    padding: 100px;
  }
}
/* DESK 1366px */
footer {
  background-image: url(/assets/image/astro_background.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 600px;
  height: 100%;
}

.footer_nav {
  margin: 150px 80px;
  display: flex;
}

.footer_nav div {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

.footer_contact {
  margin-top: 35px;
  text-align: center;
}

.footer_contact cite {
  margin: 10px 0;
}

.footer_contact nav {
  margin-top: 10px;
}

.footer_copyright {
  margin-left: 80px;
}

/* MOBILE 680px */
@media (max-width: 680px) {
  footer {
    background-image: none;
  }
  .footer_nav {
    display: block;
    margin: 35px auto;
    margin-left: 40px;
  }
  .footer_nav div {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
  }
  .footer_contact {
    margin-top: 0;
  }
  .footer_copyright {
    margin: 0;
    padding: 0px 100px;
  }
  .footer_copyright div span i {
    font-size: 11px;
  }
}

/*# sourceMappingURL=404.css.map */
