/* Global */
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
h1 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 40px;
}

h2 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 70px;
}

h3 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 50px;
}

h4 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 30px;
}

cite, span {
  font-family: "Space Grotesk", sans-serif;
}

nav li {
  font-family: "Chakra Petch", sans-serif;
  font-size: 20px;
  list-style: none;
}

p {
  font-family: "Space Grotesk", sans-serif;
  margin-bottom: 15px;
}

i {
  font-family: "Space Grotesk", sans-serif;
  font-size: 12px;
}

/* Content */
/* DESK 1366px */
header {
  width: 100%;
  z-index: 999;
}

#menu {
  z-index: 2;
}

#menu-bar {
  width: 45px;
  height: 40px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 60%;
  background-color: #DC052D;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav {
  transition: 0.3s ease;
  display: none;
}

.nav ul {
  padding: 0 22px;
}

.nav li {
  list-style: none;
  padding: 12px 0;
}

.nav li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.nav li a:hover {
  font-weight: bold;
}

.menu-bg, #menu {
  top: 0;
  left: 0;
  position: absolute;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, #DC052D, #DC052D);
  transition: 0.3s ease;
}

.change {
  display: block;
}

.change .bar {
  background-color: white;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 520px;
  height: 600px;
  transform: translate(-22%, -14%);
}

.header_desktop {
  position: absolute;
}

.header_mobile {
  position: fixed;
}

.header_menu {
  padding: 10px 40px;
  display: block;
}

.header_menu__list {
  align-items: center;
  display: flex;
  justify-content: right;
  flex-wrap: nowrap;
}

.header_menu__list li {
  margin-left: 20px;
}

.header_menu__list li:first-child {
  margin-right: auto;
}

/* MOBILE 680px */
@media (min-width: 680px) {
  .header_mobile {
    display: none;
  }
}
@media (max-width: 680px) {
  .header_desktop {
    display: none;
  }
  .nav li {
    padding: 6px 0;
  }
}
/* COLORS */
h1 {
  color: brown;
}

h1:hover {
  color: cyan;
}

h2 {
  color: yellow;
}

h2:hover {
  color: rgb(253, 135, 0);
}

h3 {
  color: fuchsia;
}

h3:hover {
  color: rgb(30, 255, 0);
}

nav li a:hover {
  color: #FFE000;
}

a {
  text-decoration: none;
  color: black;
}

li a {
  color: hotpink;
}

body {
  background-color: darkviolet;
  color: white;
}

.header_menu {
  background-color: black;
}

.main_section__places {
  background-color: darkmagenta;
  box-shadow: 0px -2px 20px 20px rgba(68, 88, 144, 0.5);
}

.main_section__entertainment {
  background-color: black;
  color: white;
  box-shadow: 0px -2px 20px 20px rgba(68, 88, 144, 0.5);
}

/* DESK 1366px */
body {
  max-width: 1366px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
}

cite {
  margin-bottom: 15px;
}

main {
  background-image: url(/assets/image/heart_bit.png);
  background-repeat: no-repeat;
  background-size: 730px;
  background-attachment: fixed;
}

.main_section__principal {
  display: flex;
  justify-content: space-around;
  padding: 280px 103px;
}

.main_section__principal div {
  display: flex;
  flex-direction: column;
  text-align: end;
  width: 544px;
  margin-left: 315px;
}

.main_section__places {
  padding: 80px;
  margin: auto 60px;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 250px;
}

.main_section__places article {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 30px auto;
}

.main_section__places article div {
  padding: 15px 50px;
}

.main_section__places article div img {
  width: 440px;
}

.main_section__entertainment {
  padding: 80px;
  margin: auto 60px;
  border-radius: 15px;
  text-align: center;
}

.main_section__entertainment article {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 30px auto;
}

.main_section__entertainment article div {
  padding: 15px 50px;
}

/* MOBILE 680px */
@media (max-width: 680px) {
  body {
    max-width: 680px;
  }
  main {
    background-image: url(/assets/image/background_chili.png);
    background-size: 280px;
    background-position: top right;
    background-attachment: scroll;
  }
  h2 {
    font-size: 40px;
  }
  picture img {
    display: none;
  }
  h3 {
    font-size: 30px;
  }
  .main_section__principal {
    padding: 280px 8vw;
  }
  .main_section__principal div {
    margin-left: 0;
    text-align: left;
  }
  .main_section__places {
    margin: auto 9px;
    padding: 20px 0;
    margin-bottom: 450px;
  }
  .main_section__places article {
    display: block;
  }
  .main_section__places article div {
    padding: 0px 15px;
  }
  .main_section__places img {
    display: none;
  }
  .main_section__entertainment {
    margin: auto 9px;
    padding: 20px 0;
  }
  .main_section__entertainment article div {
    padding: 0px 15px;
  }
}
/* DESK 1366px */
footer {
  background-image: url(/assets/image/banner_rodape.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 600px;
  height: 100%;
}

.footer_nav {
  align-items: center;
  margin: 150px 80px;
  display: flex;
  justify-content: space-around;
}

.footer_nav div {
  display: flex;
  flex-direction: column;
}

.footer_contact {
  text-align: center;
}

.footer_contact cite {
  margin: 10px 0;
}

.footer_contact nav {
  margin-top: 10px;
}

.footer_copyright {
  margin-top: 300px;
  margin-left: 80px;
}

/* MOBILE 680px */
@media (max-width: 680px) {
  footer {
    background-image: none;
  }
  .footer_nav {
    display: block;
    margin: 35px auto;
    margin-left: 40px;
  }
  .footer_nav div {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
  }
  .footer_contact {
    margin-top: 0;
  }
  .footer_copyright {
    margin: 0;
    padding: 0px 50px;
    margin-bottom: 50px;
    text-align: center;
  }
}

/*# sourceMappingURL=hobbies.css.map */
