/* Global */
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
h1 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 40px;
}

h2 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 70px;
}

h3 {
  font-size: 30px;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 30px;
}

h4 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 30px;
}

cite, span {
  font-family: "Space Grotesk", sans-serif;
}

nav li {
  font-family: "Chakra Petch", sans-serif;
  font-size: 20px;
  list-style: none;
}

p {
  font-family: "Space Grotesk", sans-serif;
  margin-bottom: 15px;
}

i {
  font-family: "Space Grotesk", sans-serif;
  font-size: 12px;
}

button {
  font-family: "Chakra Petch", sans-serif;
  font-size: 20px;
  border: none;
  padding: 10px;
}

/* Content */
/* DESK 1366px */
header {
  width: 100%;
  z-index: 999;
}

#menu {
  z-index: 2;
}

#menu-bar {
  width: 45px;
  height: 40px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 60%;
  background-color: #DC052D;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav {
  transition: 0.3s ease;
  display: none;
}

.nav ul {
  padding: 0 22px;
}

.nav li {
  list-style: none;
  padding: 12px 0;
}

.nav li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.nav li a:hover {
  font-weight: bold;
}

.menu-bg, #menu {
  top: 0;
  left: 0;
  position: absolute;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, #DC052D, #DC052D);
  transition: 0.3s ease;
}

.change {
  display: block;
}

.change .bar {
  background-color: white;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 520px;
  height: 600px;
  transform: translate(-22%, -14%);
}

.header_desktop {
  position: absolute;
}

.header_mobile {
  position: fixed;
}

.header_menu {
  padding: 10px 40px;
  display: block;
}

.header_menu__list {
  align-items: center;
  display: flex;
  justify-content: right;
  flex-wrap: nowrap;
}

.header_menu__list li {
  margin-left: 20px;
}

.header_menu__list li:first-child {
  margin-right: auto;
}

/* MOBILE 680px */
@media (min-width: 680px) {
  .header_mobile {
    display: none;
  }
}
@media (max-width: 680px) {
  .header_desktop {
    display: none;
  }
  .nav li {
    padding: 6px 0;
  }
}
/* COLORS */
h1:hover {
  color: #FFE000;
}

h2:hover {
  color: rgb(253, 135, 0);
}

h3:hover {
  color: aqua;
}

h4 {
  color: red;
}

nav li a:hover {
  color: #E31C57;
}

a {
  text-decoration: none;
  color: black;
}

span i a {
  color: red;
}

body {
  background-color: #ecf5ff;
}

.header_menu {
  background-color: rgba(255, 255, 255, 0.9);
}

.header_menu__list li:first-child {
  color: black;
}

.main_section__central {
  background-color: black;
  color: white;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.5);
}

.footer_contact__social-media {
  background-color: #ecf5ff;
}

.footer_contact__social-media a {
  color: red;
}

/* DESK 1366px */
body {
  max-width: 1366px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
}

main {
  background-image: url(/assets/image/background/astro.webp);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 600px;
  background-attachment: fixed;
}

.main_section__principal {
  display: flex;
  justify-content: space-around;
  padding: 232px 103px;
}

.main_section__principal div {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.main_section__principal picture img {
  border-radius: 999rem;
}

.main_section__central {
  padding: 80px;
  margin: auto 60px;
  border-radius: 15px;
  text-align: center;
}

.main_section__central article {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 30px auto;
}

.main_section__central article div {
  padding: 15px 50px;
}

.main_article__desk {
  display: block;
}

footer {
  background-image: url(/assets/image/background/play_bottom.webp);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 600px;
  height: 100%;
}

/* MOBILE 680px */
@media (min-width: 680px) {
  .main_article__mobile div {
    display: none;
  }
}
@media (max-width: 680px) {
  body {
    max-width: 680px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 20px;
  }
  main {
    background-image: url(/assets/image/background/astro.webp);
    background-size: 280px;
    background-attachment: scroll;
  }
  .main_section__principal {
    padding: 300px 50px;
    display: block;
    text-align: center;
  }
  .main_section__principal picture img {
    width: 240px;
  }
  .main_section__principal div {
    width: auto;
    margin-bottom: 20px;
  }
  .main_section__central {
    margin: auto 10px;
    padding: 1px;
  }
  .main_section__central article {
    display: block;
  }
  .main_section__central article div {
    padding: 15px 20px;
  }
  .main_article__desk div {
    display: none;
  }
  .main_section__central article div img {
    width: 290px;
  }
  footer {
    background-size: 200px;
  }
}
/* DESK 1366px */
.footer_nav {
  align-items: center;
  margin: 150px 80px;
  display: flex;
  justify-content: space-around;
}

.footer_nav div {
  display: flex;
  flex-direction: column;
}

.footer_contact {
  text-align: center;
}

.footer_contact cite {
  margin: 10px 0;
}

.footer_contact nav {
  margin-top: 10px;
}

.footer_copyright {
  margin-top: 300px;
  margin-left: 80px;
}

/* MOBILE 680px */
@media (max-width: 680px) {
  .footer_nav {
    display: block;
    margin: 35px auto;
  }
  .footer_nav__menu {
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
  }
  .footer_contact {
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
    padding: 0px 50px;
  }
  .footer_copyright {
    margin: 0;
    padding: 0px 50px;
    margin-bottom: 150px;
    text-align: center;
  }
}

/*# sourceMappingURL=home.css.map */
