/* Global */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 40px;
}

h2 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 70px;
}

h3 {
  font-size: 30px;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 30px;
}

h4 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 30px;
}

cite, span {
  font-family: "Space Grotesk", sans-serif;
}

nav li {
  font-family: "Chakra Petch", sans-serif;
  font-size: 20px;
  list-style: none;
}

nav li a {
  text-decoration: none;
}

p {
  font-family: "Space Grotesk", sans-serif;
  margin-bottom: 15px;
}

i {
  font-family: "Space Grotesk", sans-serif;
  font-size: 12px;
}

a {
  font-family: "Chakra Petch", sans-serif;
}

body {
  max-width: 1366px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
}

.main_title {
  margin: 10px 50px;
  display: flex;
  justify-content: end;
}

.main_section__principal {
  display: flex;
  justify-content: space-around;
  padding: 160px 103px;
  margin-bottom: 50px;
}

.main_section__central {
  padding: 80px;
  margin: auto 60px;
  border-radius: 5px;
  text-align: center;
}

.main_section__central article {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 30px auto;
  justify-content: center;
}

.main_section__central article div {
  padding: 15px 50px;
}

.main_article__buttom {
  text-decoration: none;
}

.main_article__buttom:hover {
  text-decoration: underline;
}

.main_section__central article div img {
  width: 440px;
}

footer {
  background-repeat: no-repeat;
  background-position: bottom right;
  height: 100%;
}

.footer_contact__social-media {
  text-decoration: none;
  margin-top: 10px;
}

@media (max-width: 680px) {
  body {
    max-width: 680px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 20px;
  }
  .main_section__central {
    margin: auto 10px;
    padding: 1px;
    border-radius: 5px;
  }
  .main_article {
    display: flex;
    flex-direction: column;
  }
  .main_section__central article div {
    padding: 15px 20px;
    text-align: left;
  }
  .main_section__central article div img {
    width: 290px;
  }
  .main_article__reverse {
    display: flex;
    flex-direction: column-reverse;
  }
  .button_float {
    display: none;
  }
}
/* Content */
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 20px;
  border: 4px solid rgba(255, 255, 255, 0);
}

header {
  width: 100%;
  z-index: 999;
}

#menu {
  z-index: 2;
}

#menu-bar {
  width: 45px;
  height: 40px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 60%;
  background-color: #DC052D;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav {
  transition: 0.3s ease;
  display: none;
}

.nav ul {
  padding: 0 22px;
}

.nav li {
  list-style: none;
  padding: 12px 0;
}

.nav li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.nav li a:hover {
  font-weight: bold;
}

.menu-bg, #menu {
  top: 0;
  left: 0;
  position: absolute;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, #DC052D, #DC052D);
  transition: 0.3s ease;
}

.change {
  display: block;
}

.change .bar {
  background-color: white;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 200px;
  height: 770px;
  transform: translate(-22%, -14%);
}

.header_mobile {
  position: fixed;
}

.header_menu {
  padding: 10px 40px;
  display: block;
}

.header_menu__list {
  align-items: center;
  display: flex;
  justify-content: right;
  flex-wrap: nowrap;
}

.header_menu__list li {
  margin-left: 20px;
}

.header_menu__list li:first-child {
  margin-right: auto;
}

@media (max-width: 680px) {
  .nav li {
    padding: 6px 0;
  }
  .change-bg {
    width: 520px;
    height: 600px;
  }
}
/* COLORS */
h1 {
  color: #000000;
}

h1:hover {
  color: #c300ff;
}

h2 {
  color: black;
}

h2:hover {
  color: rgb(51, 255, 0);
}

h3:hover {
  color: rgb(51, 255, 0);
}

h4 {
  color: red;
}

body {
  background-color: snow;
}

nav li a:hover {
  color: black;
}

a {
  text-decoration: none;
}

span i a {
  color: red;
}

.header_menu {
  background-color: black;
  color: white;
}

.header_menu__list li a {
  color: white;
}

.footer_contact__social-media {
  color: rgb(132, 0, 255);
  text-decoration: none;
  margin-top: 10px;
}

#voltarTopo {
  position: absolute;
  width: 70px;
  border: transparent;
  background-color: transparent;
}

@media (max-width: 680px) {
  #voltarTopo {
    transform: translateY(-160px);
  }
}
#voltarTopo {
  position: absolute;
  width: 70px;
  border: transparent;
  background-color: transparent;
  z-index: 99999;
}

.footer_social__button-left {
  bottom: 30px;
  left: 10px;
  z-index: 99999;
  position: fixed;
  width: 70px;
  border: transparent;
  background-color: transparent;
}

.footer_social__button-right {
  bottom: 30px;
  right: 10px;
  z-index: 99999;
  position: fixed;
  width: 70px;
  border: transparent;
  background-color: transparent;
}

/* DESK 1366px */
.footer_nav {
  align-items: center;
  margin: 150px 80px;
  display: flex;
  justify-content: space-around;
}

.footer_nav div {
  display: flex;
  flex-direction: column;
}

.footer_contact {
  text-align: center;
}

.footer_contact cite {
  margin: 10px 0;
}

.footer_contact nav {
  margin-top: 10px;
}

.footer_copyright {
  margin-top: 300px;
  margin-left: 80px;
}

/* MOBILE 680px */
@media (max-width: 680px) {
  .footer_nav {
    display: block;
    margin: 35px auto;
  }
  .footer_nav__menu {
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
  }
  .footer_contact {
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
    padding: 0px 50px;
  }
  .footer_copyright {
    margin: 0;
    padding: 0px 50px;
    margin-bottom: 150px;
    text-align: center;
  }
}
footer {
  background-image: url(/assets/files/bkg--box.webp);
  background-size: 400px;
}

@media (max-width: 680px) {
  .main_section__central article {
    display: block;
  }
  footer {
    background-size: 150px;
  }
}

/*# sourceMappingURL=projects.css.map */
