/* Global */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 40px;
}

h2 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 70px;
}

h3 {
  font-size: 30px;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 30px;
}

h4 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 30px;
}

cite, span {
  font-family: "Space Grotesk", sans-serif;
}

nav li {
  font-family: "Chakra Petch", sans-serif;
  font-size: 20px;
  list-style: none;
}

nav li a {
  text-decoration: none;
}

p {
  font-family: "Space Grotesk", sans-serif;
  margin-bottom: 15px;
}

i {
  font-family: "Space Grotesk", sans-serif;
  font-size: 12px;
}

a {
  font-family: "Chakra Petch", sans-serif;
}

/* Content */
header {
  width: 100%;
  z-index: 999;
}

#menu {
  z-index: 2;
}

#menu-bar {
  width: 45px;
  height: 40px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 60%;
  background-color: #DC052D;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav {
  transition: 0.3s ease;
  display: none;
}

.nav ul {
  padding: 0 22px;
}

.nav li {
  list-style: none;
  padding: 12px 0;
}

.nav li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.nav li a:hover {
  font-weight: bold;
}

.menu-bg, #menu {
  top: 0;
  left: 0;
  position: absolute;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, #DC052D, #DC052D);
  transition: 0.3s ease;
}

.change {
  display: block;
}

.change .bar {
  background-color: white;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 200px;
  height: 770px;
  transform: translate(-22%, -14%);
}

.header_mobile {
  position: fixed;
}

.header_menu {
  padding: 10px 40px;
  display: block;
}

.header_menu__list {
  align-items: center;
  display: flex;
  justify-content: right;
  flex-wrap: nowrap;
}

.header_menu__list li {
  margin-left: 20px;
}

.header_menu__list li:first-child {
  margin-right: auto;
}

@media (max-width: 680px) {
  .nav li {
    padding: 6px 0;
  }
  .change-bg {
    width: 520px;
    height: 600px;
  }
}
/* COLORS */
h1 {
  color: white;
  position: fixed;
}

h1:hover {
  color: indigo;
}

h2 {
  color: #FFE000;
  font-size: 20px;
}

h2:hover {
  color: rgb(253, 135, 0);
}

h3 {
  color: deeppink;
}

h3:hover {
  color: aqua;
}

h4 {
  color: #ffe000;
}

a {
  text-decoration: none;
  color: rgb(0, 225, 255);
}

a:hover {
  color: #FFE000;
}

p {
  color: white;
}

cite {
  color: white;
}

span {
  color: white;
}

.main_storie_section__color-red {
  background-color: #E31C57;
}

.footer_contact__social-media {
  margin-top: 10px;
}

/* DESK 1366px */
picture {
  padding: 0 60px;
}

body {
  display: flex;
  height: 100vh;
}

.main_storie {
  display: flex;
  flex-flow: nowrap;
  background-color: black;
  align-items: center;
}

.main_storie_section {
  display: flex;
}

.main_storie_section__block {
  display: flex;
  flex-flow: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 60px;
  margin-right: 150px;
}

.main_storie_section__block div {
  width: 500px;
}

.last_block {
  padding-right: 500px;
}

#container {
  position: relative;
}

#container img {
  position: absolute;
  top: 0px;
  width: 580px;
  height: 480px;
  -webkit-animation: opacity 8s linear infinite;
  -moz-animation: opacity 8s linear infinite;
  animation: opacity 8s linear infinite;
}

@keyframes opacity {
  5%, 25% {
    opacity: 1;
  }
  0%, 30%, 100% {
    opacity: 0;
  }
}
@-moz-keyframes opacity {
  5%, 25% {
    opacity: 1;
  }
  0%, 30%, 100% {
    opacity: 0;
  }
}
@-webkit-keyframes opacity {
  5%, 25% {
    opacity: 1;
  }
  0%, 30%, 100% {
    opacity: 0;
  }
}
#container img:nth-child(1) {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  animation-delay: 0;
}

#container img:nth-child(2) {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
}

#container img:nth-child(3) {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  animation-delay: 4s;
}

#container img:nth-child(4) {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  animation-delay: 6s;
}

/* MOBILE 680px */
@media (max-width: 680px) {
  h1 {
    position: relative;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 20px;
    margin-top: 30px;
  }
  body {
    overflow-x: auto;
    overflow-y: auto;
    display: block;
    height: auto;
    background-color: black;
  }
  img {
    width: 280px;
  }
  .main_storie {
    background: none;
  }
  .main_storie_section {
    display: block;
  }
  .main_storie_section__block {
    display: block;
    margin-top: 150px;
    margin-bottom: 100px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .main_storie_section__block div {
    width: auto;
    margin: auto 10px;
  }
  .main_storie_section__picture img {
    display: none;
  }
  .last_block {
    padding-right: 0px;
  }
}
#voltarTopo {
  position: absolute;
  width: 70px;
  border: transparent;
  background-color: transparent;
}

@media (max-width: 680px) {
  #voltarTopo {
    transform: translateY(-160px);
  }
}
/* DESK 1366px */
.footer_nav {
  align-items: center;
  margin: 150px 80px;
  display: flex;
  justify-content: space-around;
}

.footer_nav div {
  display: flex;
  flex-direction: column;
}

.footer_contact {
  text-align: center;
}

.footer_contact cite {
  margin: 10px 0;
}

.footer_contact nav {
  margin-top: 10px;
}

.footer_copyright {
  margin-top: 300px;
  margin-left: 80px;
}

/* MOBILE 680px */
@media (max-width: 680px) {
  .footer_nav {
    display: block;
    margin: 35px auto;
  }
  .footer_nav__menu {
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
  }
  .footer_contact {
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
    padding: 0px 50px;
  }
  .footer_copyright {
    margin: 0;
    padding: 0px 50px;
    margin-bottom: 150px;
    text-align: center;
  }
}

/*# sourceMappingURL=storie.css.map */
