/* COLORS */
h1{
    color: red;
}

h1:hover{
    color: #FFE000;
}

h2:hover {
    color: rgb(253, 135, 0);
}

h3:hover {
    color: aqua;
}

h4{
    color: red;
}

nav li a:hover {
    color: #E31C57;
}

a {
    text-decoration: none;
    color: black;
}

/* DESK 1366px */

body {
    max-width: 1366px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    background-color: snow;
}

.main_404{
    background-image: url(/assets/image/anime.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 600px;
}
.main_404_section {
    padding: 330px 103px;
    width: 60%;
}

.main_404_section div p {
    margin-top: 50px;
}

/* MOBILE 680px */

@media (max-width: 680px) {
    body{
        max-width: 680px;
    }
    .main_404{
        background-image: none;
    }
    .main_404_section{
        width: auto;
        padding: 100px;
    }
}
