/* COLORS */
h1{
    color: white;
    position: fixed;
}

h1:hover{
    color: cyan;
}

h2{
    color: #FFE000;
    font-size: 20px
}

h2:hover {
    color: rgb(253, 135, 0);
}

h3{
    color: deeppink;
}

h3:hover {
    color: aqua;
}

h4{
    color: #ffe000;
}

a {
    text-decoration: none;
    color: rgb(0, 225, 255);
}
a:hover {
    color: #FFE000;
}

p{
    color: white;
}

cite{
    color: white;
}

span{
    color: white;
}

.main_storie_section__color-red{
    background-color: #E31C57;
}

.footer_contact__social-media {
    margin-top: 10px;
}

/* DESK 1366px */
h1{
    position: fixed;
    top: 10px;
    right: 60px;
}

picture{
    padding: 0 60px;
}

body{
    display: flex;
    height: 100vh;
}

.main_storie{
    display: flex;
    flex-flow: nowrap;
    background-color: black;
    align-items: center;
}
.main_storie_section {
    display: flex;
}

.main_storie_section__block {
    display: flex;
    flex-flow: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 60px;
    margin-right: 150px;
}

.main_storie_section__block div{
    width: 500px;
}

.last_block{
    padding-right: 500px;
}

#container{
    position: relative;
}

#container img {
    position: absolute;
    top: 0px;
    width: 580px;
    height: 480px;
    
    -webkit-animation: opacity 8s linear infinite;
    -moz-animation: opacity 8s linear infinite;
    animation: opacity 8s linear infinite;
}
  
  @keyframes opacity {
    5%, 25%  { opacity:1; } 
    0%, 30%, 100% { opacity:0; }
  }
  
  @-moz-keyframes opacity {
    5%, 25%  { opacity:1; } 
    0%, 30%, 100% { opacity:0; }
  }
  
  @-webkit-keyframes opacity {
    5%, 25%  { opacity:1; }
    0%, 30%, 100% { opacity:0; }
  }
  
  #container img:nth-child(1) {
    -webkit-animation-delay: 0;
    -moz-animation-delay: 0;
    animation-delay: 0;
  }
  
  #container img:nth-child(2) {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
  }
  
   #container img:nth-child(3) {
     -webkit-animation-delay: 4s;
     -moz-animation-delay: 4s;
     animation-delay: 4s;

   }
  
   #container img:nth-child(4) {
     -webkit-animation-delay: 6s;
     -moz-animation-delay: 6s;
     animation-delay: 6s;

   }

/* MOBILE 680px */

@media (max-width: 680px) {
    h1{
        position: absolute;
    }
    h2{
        font-size: 40px;
    }
    h3{
        font-size: 20px;
        margin-top: 30px;
    }
    body{
        overflow-x: auto;
        overflow-y: auto;
        display: block;
        height: auto;
        background-color: black;
    }
    header{
        display: none;
    }
    picture{
        padding: 0;
    }
    img{
        width: 100vw;
    }
    .main_storie{
        background: none;
    }
    .main_storie_section{
        display: block;
    }
    .main_storie_section__block{
        display: block;
        margin-top: 150px;
        margin-bottom: 100px;
        margin-left: 0px;
        margin-right: 0px;
        text-align: left;
    }
    .main_storie_section__block div{
        width: auto;
        margin: auto 10px;
    }
    .last_block{
        padding-right: 0px;
    }
    .image_bkg{
        display: none;
    }
}

