h1{
    color: #29EBD4;
}

h1:hover{
    color: #FFE000;
}

h2{
    color: #FFE000;
}


h2:hover {
    color: #29EBD4;
}

h3:hover {
    color: aqua;
}

h4{
    color: #29EBD4
}

nav li a:hover {
    color: #FFE000;
}

p{
    color: white;
}

cite{
    color: white;
}

a {
    text-decoration: none;
}

ul li a{
    color: white;
}

i{
    color: white;
}

i a {
    color: rgb(253, 135, 0);
}

.main_section__central{
    background-color: black;
    color: white;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.5);
}

.main_article__buttom{
    color: #FFE000;
}

.main_article__buttom:hover{
    color: rgb(253, 135, 0);
}

.footer_contact span{
    color: white;
}

body {
    max-width: 1366px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    background-color: #282A36;
}

cite{
    margin-bottom: 15px;
}

.career_section__image{
    transform: translateY(-60px);
}

.main_section__principal {
    display: flex;
    justify-content: space-around;
    padding: 232px 103px;
}
.main_section__principal div {
    display: flex;
    flex-direction: column;
    width: 30%;
}
.main_section__principal picture img {
    border-radius: 999rem;
}
.main_section__central{
    padding: 80px;
    margin: auto 60px;
    border-radius: 15px;
    text-align: center;
}
.main_section__central article{
    display: flex;
    text-align: center;
    align-items: center;
    margin: 30px auto;
}
.main_section__central article div{
    padding: 15px 50px;
}

footer{
    background-image: url(/assets/image/background/yoda.webp);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 255px;
    height: 100%;
}

.footer_contact__social-media{
    color: #FFE000;
    text-decoration: none;
    margin-top: 10px;
}

@media (max-width: 680px) {
    body{
        max-width: 680px;
    }
    .main{
        background-image: none;
    }
    .main_section__principal{
        padding: 300px 50px;
        display: block;
        text-align: center;
    }

    .main_section__principal picture img{
        width: 240px;
    }
    .main_section__principal div{
        width: auto;
        margin-bottom: 20px;
    }

    .main_section__central{
        margin: auto 10px;
        padding: 1px;
    }

    .main_section__central article div {
        padding: 15px 20px;
    }

    .main_section__central article div img{
        width: 290px;
    }
    .main_article{
        display: flex;
        flex-direction: column;
    }

    .main_article__reverse{
        display: flex;
        flex-direction: column-reverse;
    }
    footer{
        background-size: 520px;
    }
}