/* COLORS */
h1{
    color: brown;
}

h1:hover{
    color: cyan;
}

h2{
    color: yellow;
}

h2:hover {
    color: rgb(253, 135, 0);
}

h3{
    color: fuchsia;
}

h3:hover {
    color: rgb(30, 255, 0);
}

nav li a:hover {
    color: #FFE000;
}

a {
    text-decoration: none;
    color: #FFE000;
}

li a{
    color: hotpink;
}

body {
    background-color: black;
    color: white;
}

.header_menu{
    background-color: black;
}

.main_section__places{
    background-color: white;
    color: black;
    box-shadow: 0px -2px 20px 20px rgba(68, 88, 144, 0.5);
}

.main_section__entertainment{
    background-color: black;
    color: white;
    box-shadow: 0px -2px 20px 20px rgba(68, 88, 144, 0.5);
}

.footer_contact__social-media {
    background-color: #ecf5ff00;
}

.footer_contact__social-media a{
    color: hotpink;
}

/* DESK 1366px */

body {
    max-width: 1366px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
}

cite{
    margin-bottom: 15px;
}

main{
    background-image: url(/assets/image/background/heart_bit.webp);
    background-repeat: no-repeat;
    background-size: 730px;
    background-attachment: fixed;
}
.main_section__principal{
    display: flex;
    justify-content: end;
    padding: 200px 80px;
}
.main_section__principal div {
    display: flex;
    flex-direction: column;
    text-align: end;
    width: 544px;
}

.main_section__places{
    padding: 80px;
    margin: auto 60px;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 250px;
}
.main_section__places article{
    display: flex;
    text-align: center;
    align-items: center;
    margin: 30px auto;
}
.main_section__places article div{
    padding: 15px 50px;
}

.main_section__places article div img{
    width: 280px;
}

.main_article__mobile{
    display: none;
}

.main_section__entertainment{
    padding: 80px;
    margin: auto 60px;
    border-radius: 15px;
    text-align: center;
}
.main_section__entertainment article{
    display: flex;
    text-align: center;
    align-items: center;
    margin: 30px auto;
}
.main_section__entertainment article div{
    padding: 15px 50px;
}

footer{
    background-image: url(/assets/image/background/jesus_skate.webp);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 400px;
    height: 100%;
}

/* MOBILE 680px */

@media (min-width: 680px) {
    .main_article__mobile div{
        display: none;
    }
}

@media (max-width: 680px) {
    body{
        max-width: 680px;
    }
    main{
        background-image: url(/assets/image/background/heart_bit.webp);
        background-size: 280px;
        background-position: top right;
        background-attachment: scroll;
    }

    h2{
        font-size: 40px;
    }

    h3{
        font-size: 20px;
    }

    .main_article__desk{
        display: none;
    }

    .main_section__principal {
        padding: 280px 8vw;
    }

    .main_section__principal div{
        margin-left: 0;
        text-align: center;
    }

    .main_section__places{
        margin: auto 9px;
        padding: 20px 0;
        margin-bottom: 100px;
    }
    .main_section__central article{
        display: block;
    }

    .main_article__desk div{
        display: none;
    }
    .main_section__places article{
        display: block;
    }
    .main_section__places article div{
        padding: 15px 10px;
    }
    .main_section__entertainment{
        margin: auto 9px;
        padding: 20px 0;
    }
    .main_section__entertainment article{
        display: block;
    }
    .main_section__entertainment article div{
        padding: 15px 10px;
    }
    .main_section__entertainment article picture img{
        width: 130px;
    }
}