/* COLORS */
h1:hover{
    color: #FFE000;
}

h2:hover {
    color: rgb(253, 135, 0);
}

h3:hover {
    color: aqua;
}

h4{
    color: red;
}

nav li a:hover {
    color: #E31C57;
}

a {
    text-decoration: none;
    color: black;
}

span i a {
    color: red;
}

body {
    background-color: #ecf5ff;
}

.header_menu{
    background-color: rgba($color: #fff, $alpha: 0.9);
}

.header_menu__list li:first-child {
    color: black;
}

.main_section__central{
    background-color: black;
    color: white;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.5);
}

/* DESK 1366px */

body {
    max-width: 1366px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
}
main{
    background-image: url(/assets/image/banner_3d.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 600px;
    background-attachment: fixed;
}
.main_section__principal {
    display: flex;
    justify-content: space-around;
    padding: 232px 103px;
}
.main_section__principal div {
    display: flex;
    flex-direction: column;
    width: 30%;
}
.main_section__principal picture img {
    border-radius: 999rem;
    width: 300px;
}
.main_section__central{
    padding: 80px;
    margin: auto 60px;
    border-radius: 15px;
    text-align: center;
}
.main_section__central article{
    display: flex;
    text-align: center;
    align-items: center;
    margin: 30px auto;
}
.main_section__central article div{
    padding: 15px 50px;
}

.main_section__central article div img{
    width: 440px;
}

.main_article__desk{
    display: block;
}

/* MOBILE 680px */

@media (min-width: 680px) {
    .main_article__mobile div{
        display: none;
    }
}

@media (max-width: 680px) {
    body{
        max-width: 680px;
    }

    h2{
        font-size: 40px;
    }
    main{
        background-image: url(/assets/image/astro.png);
        background-size: 280px;
        background-attachment: scroll;
    }
    .main_section__principal{
        padding: 300px 50px;
        display: block;
        text-align: center;
    }

    .main_section__principal picture img{
        width: 240px;
    }
    .main_section__principal div{
        width: auto;
        margin-bottom: 20px;
    }

    .main_section__central{
        margin: auto 10px;
        padding: 1px;
    }
    
    .main_section__central article{
        display: block;
    }

    .main_article__desk div{
        display: none;
    }

    .main_section__central article div img{
        width: 290px;
    }
}