/* COLORS */
h1{
    color: #FFE000;
}

h1:hover{
    color: indigo;
}

h2{
    color: #FFE000;
}

h2:hover {
    color: rgb(253, 135, 0);
}

h3{
    color: deeppink;
}

h3:hover {
    color: aqua;
}

h4{
    color: #ffe000;
}

a {
    text-decoration: none;
    color: rgb(0, 225, 255);
}
a:hover {
    color: #FFE000;
}

p{
    color: white;
}

cite{
    color: white;
}

span{
    color: white;
}

.main_storie_section__color-red{
    background-color: #E31C57;
}

.footer_contact__social-media li a{
    color: rgb(0, 225, 255);
}

/* DESK 1366px */

header{
    display: block !important;
}

h1{
    margin-left: 70px;
    margin-top: 11px;
}

picture{
    padding: 0 60px;
}

body{
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    height: 100vh;
}

.main_storie{
    display: flex;
    flex-flow: nowrap;
    background: linear-gradient(100deg, rgb(0, 0, 0) 0%, rgb(4, 4, 4) 90%, rgb(0, 212, 255) 100%);
    align-items: center;
}
.main_storie_section {
    display: flex;
}

.main_storie_section__in-loco{
    margin-left: 110px;
    margin-right: 620px;
    display: flex;
    align-items: center;
}

.main_storie_section__in-loco div{
    width: 700px;
}

.main_storie_section__in-loco__notice{
    margin-top: 50px;
}

.main_storie_section__block {
    display: flex;
    flex-flow: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main_storie_section__block div{
    width: 500px;
}

#container{
    position: relative;
}

#container img {
    position: absolute;
    top: 0px;
    width: 580px;
    height: 480px;
    
    -webkit-animation: opacity 8s linear infinite;
    -moz-animation: opacity 8s linear infinite;
    animation: opacity 8s linear infinite;
}
  
  @keyframes opacity {
    5%, 25%  { opacity:1; } 
    0%, 30%, 100% { opacity:0; }
  }
  
  @-moz-keyframes opacity {
    5%, 25%  { opacity:1; } 
    0%, 30%, 100% { opacity:0; }
  }
  
  @-webkit-keyframes opacity {
    5%, 25%  { opacity:1; }
    0%, 30%, 100% { opacity:0; }
  }
  
  #container img:nth-child(1) {
    -webkit-animation-delay: 0;
    -moz-animation-delay: 0;
    animation-delay: 0;
  }
  
  #container img:nth-child(2) {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
  }
  
   #container img:nth-child(3) {
     -webkit-animation-delay: 4s;
     -moz-animation-delay: 4s;
     animation-delay: 4s;

   }
  
   #container img:nth-child(4) {
     -webkit-animation-delay: 6s;
     -moz-animation-delay: 6s;
     animation-delay: 6s;

   }

/* MOBILE 680px */

@media (min-width: 680px) {
    footer{
        display: none;
    }
}

@media (max-width: 680px) {

    h1{
        display: none;
    }

    h2{
        font-size: 40px;
    }

    h3{
        font-size: 20px;
        margin-top: 30px;
    }

    body{
        overflow-x: auto;
        overflow-y: auto;
        display: block;
        height: auto;
        background-color: black;
    }

    header{
        display: block;
    }

    img{
        width: 280px;
    }

    .main_storie{
        background: none;
    }

    .main_storie_section{
        display: block;
    }

    .main_storie_section__in-loco{
        margin: 350px 0;
        display: block;
        text-align: center;
    }
    .main_storie_section__in-loco div{
        width: auto;
    }
    .main_storie_section__in-loco__navegation{
        display: none;
    }
    .main_storie_section__in-loco__notice{
        display: none;
    }
    .main_storie_section__block{
        display: block;
    }
    .main_storie_section__block div{
        width: auto;
        margin: auto 10px;
    }
    .main_storie_section__picture img{
        display: none;
    }

    footer{
        background-image: url(/assets/image/background/criative_nino.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: 130px;
        height: 100%;
    }
}

