/* COLORS */
h1:hover{
    color: #FFE000;
}

h2:hover {
    color: rgb(253, 135, 0);
}

h3:hover {
    color: aqua;
}

nav li a:hover {
    color: #E31C57;
}

a {
    text-decoration: none;
    color: black;
}

/* DESK 1366px */

header{
    position: fixed !important;
}

picture{
    padding: 0 60px;
}

.main_storie{
    display: flex;
    flex-flow: nowrap;
    background-image: url(/assets/image/blue-stroke_background.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 600px;
}
.main_storie_section {
    display: flex;
}

.main_storie_section__in-loco{
    // display: flex;
    // flex-flow: nowrap;
    margin-left: 110px;
    margin-top: 230px;
}

.main_storie_section__in-loco div{
    width: 700px;
}

.main_storie_section__block {
    display: flex;
    flex-flow: nowrap;
    margin-left: 520px;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: max-content;
}

.main_storie_section__block div{
    width: 500px;
}

/* MOBILE 680px */

@media (min-width: 680px) {
    
}

@media (max-width: 680px) {
    
}

