/* COLORS */
h1:hover{
    color: #FFE000;
}

h2{
    color: #FFE000;
}

h2:hover {
    color: rgb(253, 135, 0);
}

h3{
    color: deeppink;
}

h3:hover {
    color: aqua;
}

h4{
    color: black;
}

a {
    text-decoration: none;
    color: indigo;
}
a:hover {
    color: #FFE000;
}

p{
    color: white;
}

cite{
    color: white;
}

span{
    color: white;
}

.main_storie_section__color-red{
    background-color: #E31C57;
}



/* DESK 1366px */

header{
    display: none;
}

picture{
    padding: 0 60px;
}

body{
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    height: 100vh;
}

.main_storie{
    display: flex;
    flex-flow: nowrap;
    background: linear-gradient(90deg, rgb(0 0 0) 0%, rgb(4 4 4) 80%, rgb(0, 212, 255) 100%);
    align-items: center;
}
.main_storie_section {
    display: flex;
}

.main_storie_section__in-loco{
    margin-left: 110px;
    margin-right: 620px;
    display: flex;
    align-items: center;
}

.main_storie_section__in-loco div{
    width: 700px;
}

.main_storie_section__in-loco__notice{
    margin-top: 50px;
}

.main_storie_section__block {
    display: flex;
    flex-flow: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main_storie_section__block div{
    width: 500px;
}

#container{
    position: relative;
}

#container img {
    position: absolute;
    top: 0px;
    width: 580px;
    height: 480px;
    
    -webkit-animation: opacity 8s linear infinite;
    -moz-animation: opacity 8s linear infinite;
    animation: opacity 8s linear infinite;
}
  
  @keyframes opacity {
    5%, 25%  { opacity:1; } 
    0%, 30%, 100% { opacity:0; }
  }
  
  @-moz-keyframes opacity {
    5%, 25%  { opacity:1; } 
    0%, 30%, 100% { opacity:0; }
  }
  
  @-webkit-keyframes opacity {
    5%, 25%  { opacity:1; }
    0%, 30%, 100% { opacity:0; }
  }
  
  #container img:nth-child(1) {
    -webkit-animation-delay: 0;
    -moz-animation-delay: 0;
    animation-delay: 0;
  }
  
  #container img:nth-child(2) {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
  }
  
   #container img:nth-child(3) {
     -webkit-animation-delay: 4s;
     -moz-animation-delay: 4s;
     animation-delay: 4s;

   }
  
   #container img:nth-child(4) {
     -webkit-animation-delay: 6s;
     -moz-animation-delay: 6s;
     animation-delay: 6s;

   }

/* MOBILE 680px */

// @media (min-width: 680px) {
    
// }

// @media (max-width: 680px) {
    
// }

