/* DESK 1366px */

.footer_nav{
    align-items: center;
    margin: 150px 80px;
    display: flex;
    justify-content: space-around;
}

.footer_nav div{
    display: flex;
    flex-direction: column;
}

.footer_contact{
    text-align: center;
}

.footer_contact cite{
    margin: 10px 0;
}

.footer_contact nav{
    margin-top: 10px;
}

.footer_copyright {
    margin-top: 300px;
    margin-left: 80px;
}

/* MOBILE 680px */

@media (max-width: 680px) {
    footer{
        background-size: 200px;
    }
    .footer_nav{
        display: block;
        margin: 35px auto;
        margin-left: 40px;
    }
    .footer_nav div {
        display: flex;
        flex-direction: column;
        margin-right: 40px;
        align-items: center;
        text-align: center;
        margin-bottom: 100px;
        margin-top: 100px;
    }
    .footer_contact{
        margin-top: 0;
    }
    .footer_copyright {
        margin: 0;
        padding: 0px 50px;
        margin-bottom: 150px;
        text-align: center;
    }
}