/* DESK 1366px */

header{
    position: absolute;
    width: 100%;
    z-index: 999;
}


#menu {
    z-index: 2;
  }
  
  #menu-bar {
    width: 45px;
    height: 40px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
  }
  
  .bar {
    height: 5px;
    width: 60%;
    background-color: #DC052D;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  #bar1 {
    transform: translateY(-4px);
  }
  
  #bar3 {
    transform: translateY(4px);
  }
  
  .nav {
    transition: 0.3s ease;
    display: none;
  }
  
  .nav ul {
    padding: 0 22px;
  }
  
  .nav li {
    list-style: none;
    padding: 12px 0;
  }
  
  .nav li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
  }
  
  .nav li a:hover {
    font-weight: bold;
  }
  
  .menu-bg, #menu {
    top: 0;
    left: 0;
    position: absolute;
  }
  
  .menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, #DC052D, #DC052D);
    transition: 0.3s ease;
  }
  
  .change {
    display: block;
  }
  
  .change .bar {
    background-color: white;
  }
  
  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }
  
  .change #bar2 {
    opacity: 0;
  }
  
  .change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
  }
  
  .change-bg {
    width: 520px;
    height: 600px;
    transform: translate(-22%, -14%);
  }

.header_copyright{
    color: white;
    margin: 90px 50px;
    text-align: center;
}

.header_copyright span i{
    font-size: 15px;
}

.header_copyright span i a{
    color: white;
}



.header_menu{
    padding: 10px 40px;
    display: block;
}

.header_menu__list{
    align-items: center;
    display: flex;
    justify-content: right;
    flex-wrap: nowrap;
}

.header_menu__list li {
    margin-left: 20px;
}

.header_menu__list li:first-child {
    margin-right: auto;
}

/* MOBILE 680px */

@media (min-width: 680px) {
    .header_mobile {
        display: none;
    }
}

@media (max-width: 680px) {

    header{
        display: none;
    }

    .header_desktop {
        display: none;
    }

    .nav li {   
        padding: 6px 0;
    }
}

